.header {
  border-bottom: 1px solid lightgray;
  margin-bottom: 2em;
}

.header__toolbar {
  align-items: baseline;
  display: flex;
}

.header__leftbox {
  vertical-align: middle;
}

.header__logo {
  max-width: 40px;
  margin-right: 0.5em;
}

.header__titleby {
  padding-right: 0.2em;
  padding-left: 0.2em;
  vertical-align: baseline;
}

.header__swaggerbutton {
  /* order: 4; */
  margin-left: auto;
}
