body {
  background-color: #f8f9fa;
}

.App {
  text-align: center;
}

.header {
  border-bottom: 1px solid lightgray;
  background-color: white;
  margin-bottom: 1.5em;
}

.image-grid__card img {
  width: 100%;
  max-height: 75vh;
  object-fit: contain;
}

.image-grid__card__caption {
  font-weight: normal;
}

.image-grid__card_caption {
  display: flex;
  justify-content: center;
  padding: 0.5em;
  background-color: #fafafa;
  border-bottom: 1px solid lightgray;
}

.image-grid__card_name {
  align-items: center;
}

.image-grid__card_edit {
  margin-left: 1em;
}

.reactLinkHome {
  text-decoration: None;
  background: -webkit-linear-gradient(
    to right,
    #8a2387,
    #e94057,
    #f27121
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #8a2387,
    #e94057,
    #f27121
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.reactLinkHome:hover {
  text-decoration: None;
  background: -webkit-linear-gradient(
    to right,
    #f27121,
    #e94057,
    #8a2387
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f27121,
    #e94057,
    #8a2387
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.reactLinkContributors {
  text-decoration: None;
  color: red;
}

.reactLinkContributors:hover {
  text-decoration: None;
  color: white;
}

.footer__container {
  display: flex;
}

.footer {
  position: inherit;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 1px solid lightgray;
  background-color: white;
}
