body {
  background-color: #f8f9fa;
}

.App {
  text-align: center;
}

.header {
  border-bottom: 1px solid lightgray;
  background-color: white;
  margin-bottom: 1.5em;
}

.header__reloadAnimation {
  border-radius: 50%;
}

.header__reloadAnimation:hover {
  border-radius: 50%;
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.image-grid__card img {
  width: 100%;
  max-height: 75vh;
  object-fit: contain;
}

.image-grid__card__caption {
  font-weight: normal;
}

.image-grid__card__name {
  align-items: center;
}

.image-grid__card__edit {
  margin-left: 1em;
  margin-right: -1em;
}

.image-grid__card__caption {
  display: flex;
  justify-content: center;
  padding: 0.5em;
  background-color: #fafafa;
  border-bottom: 1px solid lightgray;
}

.image-grid__card__showCommentArrow {
  opacity: 0.8;
  margin: 0.5em;
}

.image-grid__card__showCommentArrow:active {
  transform: rotate(-90deg);
  /* Safari */
  -webkit-transform: rotate(90deg);
  /* Firefox */
  -moz-transform: rotate(90deg);
  /* IE */
  -ms-transform: rotate(90deg);
  /* Opera */
  -o-transform: rotate(90deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}

.image-grid__card__showCommentArrow:hover {
  opacity: 1;
}

.image-grid__card__addCommentButton {
  opacity: 0.8;
  margin: 0.5em;
}

.image-grid__card__editPostButton {
  opacity: 0.8;
  margin: 0.5em;
}

.image-grid__card__addCommentButton:hover {
  opacity: 1;
}

.image-grid__card__editPostButton:hover {
  opacity: 1;
}

.header__navbar__reactLinkHome {
  text-decoration: None;
  background: -webkit-linear-gradient(
    to right,
    #8a2387,
    #e94057,
    #f27121
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #8a2387,
    #e94057,
    #f27121
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header__navbar__reactLinkHome:hover {
  text-decoration: None;
  background: -webkit-linear-gradient(
    to right,
    #f27121,
    #e94057,
    #8a2387
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f27121,
    #e94057,
    #8a2387
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header__navbar__reactLinkContributors {
  text-decoration: None;
  color: red;
}

.header__navbar__reactLinkContributors:hover {
  text-decoration: None;
  color: white;
}

.footer {
  /* position: inherit; */
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 1px solid lightgray;
  background-color: white;
}

.footer__container {
  display: flex;
}

.contributorsBadgeContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 1em;
}

.contributorsBadgeContainer__BadgeHeaderWrap {
  margin: 0.3em;
}

.scrolltotop__scroll {
  width: 40px;
  height: 40px;
  background-color: #28a745;
  position: fixed;
  bottom: 10px;
  right: 10px;
  border-radius: 50px;
  border: none;
  z-index: 99;
}

.scrolltotop__arrow-up {
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  margin-left: -5px;
}

.comments {
  display: flex;
  flex-direction: column;
  justify-content: left;
  max-height: 10vh;
  text-align: left;
  overflow-y: scroll;
  -moz-scrollbars: none;
  -ms-overflow-style: none;
}

.comments::-webkit-scrollbar {
  display: none;
}

.image-grid__card__commentform {
  min-width: 100%;
}

.image-grid__card__commentform__FormControl {
  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
